[Unit]
Description=Starts my ROS2 launch file
After=network.target

[Service]
Type=simple
User=bada
ExecStart=/home/bada/bada.sh

[Install]
WantedBy=multi-user.target

